[Unit]
Description=Elasticsearch Cerebro
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/cerebro
ExecStart=/opt/cerebro/bin/cerebro "${ARGS}" 
User=cerebro
Group=cerebro
Restart=always
SyslogIdentifier=cerebro
WorkingDirectory=/opt/cerebro


[Install]
WantedBy=multi-user.target
